API_KEY_MARKETSTACK=marketstack_api_key
API_KEY_FINANCIAL_MODELING=financial_modeling_api_key
API_URL_MARKETSTACK=http://api.marketstack.com/v1/
API_URL_FINANCIAL_MODELING=https://financialmodelingprep.com/api/v3/
PORT=3000
MONGO_URL=mongodb+srv://<username>:<password>@clusternodecomplete.hmjbq.mongodb.net/<DB_NAME>?retryWrites=true&w=majority
TOKEN_SECRET=token_secret_value